.code {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.console {
    width: 40%;
    background: var(--light_blue);
    height: 100%;
}

.console label {
    color: var(--dark_blue)
    
}
.coding_header {
    display:  flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    background: var(--dark_blue);
}

.coding_header > ul {
    display: flex;
    list-style: none;
}

.coding_header li {
    margin: 0 1rem;
}

.coding_button {
    padding: 5px 10px;
    background: var(--cyan);
    border: 1px solid var(--cyan);
    border-radius: 10px;

}

.coding_button:hover {
    background: var(--light_blue);
    border: 2px solid var(--cyan);
    transition: 100ms;
}

.my-files {
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    padding: 10px 0px;
    background: var(--cyan);
    height: 100%;
    color: var(--dark_blue);
    animation: show;
    animation-duration: 400ms;
    height: 100%;
    
}

.save_input {
    background: var(--light_blue);
    border-radius: 10px;
    color: var(--dark_blue);
    border: none;
    margin-right: 10px;
}

.my-files h4 {
    font-size: 1.3rem;
    font-weight: 500;
   
}

.my-files p {
    margin: 5px 0;
    width: 100%;
    padding: 5px 15px;
}
.my-files p:hover {
    background: var(--light_blue);
}

@keyframes show{
    0% {
        width: 0%;
    }
    /* 25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    } */
    100% {
        width: 100%;
    }
    
}

@media (max-width:800px) {
    .code {
        flex-direction: column;
    }
    .console {
        height: 100%;
        width: 100%;
    }
    .myfiles {
        width: 100%;
        height: 100%;
    }
}