:root{
  --blue : #1363DF;
  --dark_blue: #06283D;
  --cyan: #47B5FF;
  --light_blue: #DFF6FF; 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
}
.header >div{
  display: flex;
  align-items: center;
}
.header>div>button{
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.login{
  color: var(--light_blue);
  background-color: var(--cyan);
}
.register{
  color: black;
  background-color: var(--light_blue);
} 
.login:hover{
  color: black;
  background-color: var(--light_blue);
}
.register:hover{
  color: var(--light_blue);
  background-color: var(--cyan);
}
.login:active {
  padding: 4px;
}
.register:active {
  padding: 4px;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
}
.footer >div{
  display: flex;
}
.footer div>p{
  margin-right: 10px;
  padding-right: 10px;
}
.footer div p:not(:last-child){
  border-right: 1px solid black;
}
