:root{
  --blue : #1363DF;
  --dark_blue: #06283D;
  --cyan: #47B5FF;
  --light_blue: #DFF6FF; 
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  height: 50px;
}

.header{
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: var(--blue);
}
.header h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}
.header>div{
  display: flex;
  align-items: center;
}
.header>div>button{
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.login{
  color: var(--light_blue);
  background-color: var(--cyan);
}
.register{
  color: black;
  background-color: var(--light_blue);
} 
.login:hover{
  color: black;
  background-color: var(--light_blue);
}
.register:hover{
  color: var(--light_blue);
  background-color: var(--cyan);
}
.login:active {
  padding: 9px;
}
.register:active {
  padding: 9px;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
}
.footer >div{
  display: flex;
}
.footer div>p{
  margin-right: 10px;
  padding-right: 10px;
}
.footer div p:not(:last-child){
  border-right: 1px solid black;
}

/* Registeration page */
.reg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-container {
  border-radius: 40px;
  background-color: var(--cyan);
  width: 30%;
  padding: 50px;
  box-sizing: border-box;
}

.register-title {
  margin-top: 5%;
  text-align: center;
}

.register-button {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 5px;
  border: none;
  background-color: var(--blue);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.register-form {
  margin-top: 15%;
}

.register-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}

.register-link {
  margin-top: 3%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  flex-direction: column;
}

a {
  color: #537fe7;
  margin: 2%;
}

.gender {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.gender label {
  margin-right: 10px;
}

.name-container {
  display: flex;
}
.first_name {
  margin-right: 25px;
}